    /* .container {
        display: inline-block;
        width: 40%;
        height: auto;
        border: 1px solid #234465;
        margin-right: 10px;
        margin-bottom: 3%;
        border-radius: 6px;
    } */

.title {
    margin-bottom: 50px;
}

.description {
    display: inline-block;
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
    margin-bottom: 0.5%;
    width: 95%;
    vertical-align: top;  
    
}

.description span {
    float: left;
    margin-left: 50px;
    margin-right: 20px;
    display:block;
    width:500px;
    word-wrap:break-word;
}

.price {
    display: inline-block;
    word-wrap: break-word;
    padding: 0.5%;
    font-style: bold;
    margin-bottom: 0.5%;
    width: 95%;
    vertical-align: top;
}


.coin-image {
    float: left;
    width: 300px;
    height: auto;
}

.button {
    background-color: #b7410e;
    border-radius: 6px;
    margin-left: 10px;
}

.button:hover {
    color: black;
    background: #fff;
    border-color: black;
}

.link {
    text-decoration: none;
}



